name: Rust

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        app:
          - broccoli-app-rp2040
          - broccoli-codec
          - broccoli-datamap
          - broccoli-nandio
          - broccoli-nandio-rp2040

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path "${{ matrix.app }}/Cargo.toml" -- --check

      - name: Lint with Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --manifest-path "${{ matrix.app }}/Cargo.toml" -- -D warnings

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test --manifest-path "${{ matrix.app }}/Cargo.toml"
